data/cameraHCM/captured_images
data/LicensePlateDataset/License-Plate-1
data/LicensePlateDataset/license-plate-1
models/modelLicensePlate/runs
models/modelVehicle/runs
models/ReID/logs
models/ReID/dataset/VehicleID
models/ReID/dataset/VeRi
models/ReID/dataset/VRIC
data/MTMC
config/global_config.yml