data/cameraHCM/captured_images
data/cameraHCM/temp_images
data/temp_part_ac
data/LicensePlateDataset/License-Plate-1
data/LicensePlateDataset/license-plate-1
models/ReID/logs
models/ReID/dataset/VehicleID
models/ReID/dataset/VeRi
models/ReID/dataset/VRIC
data/MTMC
config/global_config.yml
models/ReID.7z
src/yolo12m.pt
src/yolo12n.pt
src/yolo12s.pt
models/ReID/yolo12m.pt
models/ReID/temp_cropped_objects
models/ReID/temp_deduplicated_hash
models/ReID/reid_grouped_images_for_inspection
models/ReID/reid_classified_unique_images
models/ReID/inspection_top_20_reid_clusters
models/ReID/final_top_20_reid_objects
models/ReID/deduplicated_pixel_level
models/ReID/dataset
data/Vehicle1M
models/MOT/cropped_objects
models/MOT/*.mp4